header

.container
  .page-header
    h1 Frontend Boilerplate
    .menu
      a(ui-sref="main") Home
      a(ui-sref="about") About
  div(ui-view="guest")

footer
  .container
    p.text-muted Made with love.
